*{
    font-family: 'Slabo 27px', serif;
   
}
body{
/*  background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed; */
}
.nav-link {
    color: black;
}
nav.a{
    color: black;
}




/* +254 708 668 618 */